/*公用class*/
.comWidth{width:1000px; margin-left: auto; margin-right: auto;}
.leftArea{float:left;}
.rightArea{float:right;}
.hide{display: none;}
.show{display: block;}

/*topBar*/
.topBar{height:31px; background-color: #F7F7F7; line-height: 31px;}
.collection{background: url(../images/icon/collection.jpg) left center no-repeat; padding-left: 19px; font-weight: bold;}
.topBar a:hover{color:#1D7AD9;}

/*logoBar*/
.logoBar{height:85px; background-color: #1D7AD9;}
.logo{padding-left: 41px; padding-top: 13px;}

/*search*/
.search_box{width:430px;padding-top: 23px; padding-left: 185px;}
.search_text{width:350px; height:35px; line-height:35px\9/*ie6兼容问题*/; padding:0 5px; background-color: #FFFFFF;}
.search_btn{width:70px;height: 35px; font-size: 14px; font-family:"微软雅黑" "microsoft yahei"; background-color: #FF8C00; color:#FFF;}

/*购物车*/
.shopCar{width:145px; height:35px; background-color: #FF8C00; margin-top: 23px; font: 14px/35px "微软雅黑"; color: #FFFFFF; margin-right: 59px;}
.shopText{width:87px; height:100%; border-right: #E27A00 solid 1px; background: url(../images/icon/shopCar.jpg) 10px center no-repeat; text-indent: 40px;}
.shopNum{width:27px; height:35px; border-left:#FF9C01 solid 1px; background: url(../images/icon/sanjiao.jpg) no-repeat 33px center; text-align: right; padding-right:29px;}

/*导航*/
.navBox{height:35px; background-color: #1369C0; color:#FFFFFF;}
.shopClass{width:190px; position: relative;}
.shopClass h3{line-height: 35px; text-align: center;}
.shopClass i{width:11px; height:7px; background: url(../images/icon/jiantou.png) no-repeat left center; display:inline-block; margin-left:11px; overflow:hidden;}
.nav .shopClass h3{font-family:"微软雅黑" "microsoft yahei";}
.nav{line-height: 35px; }
.nav li{float:left;}
.nav a{display: inline-block; height:35px; padding:0 35px; color: #FFF;}
.nav .active{background-color: #4593FD;}

/*全部商品分类弹出列表*/
.shopClass_show{background-color: #4593FD; position: absolute; left:0; top:35px; width:100%;}
.shopClass_item{padding:13px 10px; border-bottom: 1px solid #3487F2; border-top: 1px solid #5AA1FE; line-height: 16px;}
.shopClass_item dt{height:22px; background: url(../images/white_jiantou.png) right center no-repeat; /*line-height: 22px;*/line-height: 1px; overflow: hidden;}
.shopClass_item .b{font:14px/1 "微软雅黑";}
.shopClass_item a{color:#FFF;}
.shopClass_item a:hover{text-decoration: underline;}
.shopClass_item .aLink{height:20px; width:48px; background: url(../images/blue-yuanquan.png) left center no-repeat; display: inline-block; text-align:center; text-decoration: underline; line-height: 20px;}

/*shopClass_item active 状态*/
.shopClass_active{background-color: #FFF; border-left: #4593FD solid 1px;}
.shopClass_active dt{background: none;}
.shopClass_active a{color:#000000;}
.shopClass_active .aLink{color:#FFF; text-decoration: none;}

/*右侧弹出菜单*/
.shopList_item{padding:10px 0; border-bottom:1px solid #CCC;}
.shopClass_cont{padding:0 20px;}
.shopClass_list{width:568px; border:1px solid #CCC;position: absolute; left:190px; top:35px;}
.shopList_item dt{color:#4B87D9; font-weight:bold; height:24px; line-height: 24px;}
.shopList_item dd{padding-left:68px; margin-top:-24px; line-height: 24px;}
.shopList_item a{margin-right: 12px;}
.shopList_links{padding: 15px 0;}
.shopList_links a{color:#FFF; background-color: #2785E6; height: 26px; line-height: 26px; font-size: 12px; display: inline-block; padding: 0 14px 0 8px; margin-right: 10px;}
.shopList_links span{width:11px; height:7px; background: url(../images/white_jiantou.png) left center no-repeat; display: inline-block; margin-left: 7px;}

/*banner*/
.banner{margin-bottom: 15px;}
.banner_bar{position: relative; overflow: hidden;}
.imgBox{position: absolute; left:0; top:0;} 
.imgBox li{float: left;}
.imgBox img{display: block;}
.imgNum{position: absolute; left:0; bottom: 15px; width:100%; text-align: center;}
.imgNum a{width:20px; height:5px; background-color: #FFF; display:inline-block; margin:0 3px;}
.imgNum .active{background-color: #FF7700;}
.banner_big{width:810px; height: 330px; }
.banner_big .imgBox{width:1620px; height: 330px; }
.banner_big img{width:810px; height:330px; }
.banner_sm,
.banner_sm img{width:190px; height:400px;}
.banner_sm .imgBox{width:380px; height: 400px;}

/*商品标题*/
.shopTit{height:44px; font-family: "微软雅黑"; line-height: 44px; margin-bottom: 15px;}
.shopTit h3{font-size: 24px; float: left; font-weight: normal; padding-left: 15px;}
.icon{width:44px;height:44px; background: url(../images/icon/icon3.png) left top no-repeat;}
.more{font-family: "宋体"; }
.more a:hover{text-decoration: underline;}

/*商品列表*/
.shopList{margin-bottom: 15px;}
.shopList .leftArea{width: 190px;}
.shopList .rightArea{width:808px; border:#999 solid 1px; border-bottom: #FF7201 solid 3px; height: 396px; overflow: hidden;}

/*商品列表-右侧*/
/*TOP*/
.shopList_top,.shopList_sm{margin-right: -4px;}
.shop_item{width:202px; height:279px; border-right: #999 solid 1px; border-bottom: #999 solid 1px; text-align: center; font-family: "微软雅黑";}
.shop_img{height: 218px; width:202px; }
.shop_img img{padding: 33px 44px 34px 43px ; display: block; width: 133px; height: 151px;}
.shop_item h3{font-size: 16px; }
.shop_item p{font-size: 14px; color: #FF7300; line-height: 21px;}
/*bottom*/
.shopItem_sm{width:202px; height:279px; border-right: #999 solid 1px; height: 116px; float: left;}
.shopItem_smImg{width:80px; height: 116px; text-align: center; float: left;margin: 28px 10px 30px 10px;}
/*.shopItem_smImg img{width:80px; height: 116px;}*/
.shopItem_text{padding-top: 28px; width:97px; float: left; margin-right: 5px;}
.shopItem_text p{color: #FF7300;}
.shopItem_text h3{font-family: "微软雅黑";font-size: 16px; font-weight: normal; color: #181818;}

/*底部*/
.footer{text-align: center; background-color: #D4D4D4; line-height: 24px; padding:50px 0;}
.footer i{font-style: normal; margin:0 5px;}
.footer a{color: #000;}
.footer a:hover{color: #F60;}
.web{padding-top: 30px;}
.web img{margin: 0 12px;}
.hr_25{height: 25px;}
