html{
    width: 100%;
    height: 100%;
    body{
        width: 100%;
        height: 100%;
        .page1-bg{
            width: 100%;
            height: 100%;
            background: url(../img/千库网48fbca446fc8e4e345d16aeb00efc850.jpg)no-repeat left top;
            background-size: 100% 100%;
            position: absolute;
            left: 0;
            top: 0;
            z-index: -1;    
        }
        .page1-bg2{
            width: 100%;
            height: 100%;
            background: url(../img/mask.png);
            position: absolute;
            left: 0;
            top: 0;
            z-index: 10;
        }
        header:hover{
            background: #FFFFFF;
            opacity: 0.8;
            transition: 1s;
        }
        header{
            width: 100%;            
            /*height: 60px;*/
            /*background: #FFFFFF;*/
            /*padding: 0 80px;*/
            position: fixed;
            top: 0;
            z-index: 100;
            .nav-left{
                display: inline-block;
                width: 100px;
                /*height: 60px;*/
                font-size: 16px;
                color: #000;
                line-height: 16px;
                text-align: center;
                padding: 16px 0;
            }
            .logo{
                font-weight: bold;
            }
            .nav-right{
                float: right;
                position: absolute;
                right: 0;
                top: 0;
                li{
                    float: left;
                    width: 100px;
//                  height: 60px;
                    line-height: 16px;
                    text-align: center;
                    padding: 16px 0;
                    a{
                        font-size: 16px;
                        color: #000;
                    }
                }
            }
        }
        .personal{
            width: 100%;
            height: 100%;
            position: relative;
            left: 0;
            top: 35%;
            margin-top: -20px;
            display: flex;
            .personal-img{
                background: url(../img/user.png)no-repeat center top;
                background-size: 55% 55%;
                z-index: 30;
                flex: 1;
                margin-top: -25px;
            }
            .personal-mask{
                width: 100%;
                height: 308px;
                background: #FFFFFF;
                opacity: 0.5;   
                position: absolute;
                left: 0;
                top: 0;
                z-index: 20;
            }
            .personal-right{
                z-index: 9999;
//              width:50%;
//              margin: 30px 110px 0 0;
//              float: right;
                flex: 1;
                .my-name{
                    font-size: 36px;
                    color: #000;
                    margin: 40px 0;
                    font-weight: bold;
                }
//              h3{
//                  font-size: 22px;
//                  font-weight: bold;
//                  color: #66B02F;
//                  margin-bottom: 20px;
//              }
                p{
                    font-size: 12px;
                    color: #000;
                    width: 500px;
                    line-height: 30px;
                }
                .personal-footer{
                    margin-top: 35px;
                    .selection-box{
                        color: #000;
                        font-size: 14px;
                        padding: 10px 15px;
                        margin-right: 10px;
                    }
                    .sele-box1{
                        border: 2px solid #f0ad4e;
                    }
                    .sele-box1:hover{
                        background: #F0AD4E;
                        transition: 1s;
                    }
                    .sele-box2{
                        border: 2px solid #449d44;
                    }
                    .sele-box2:hover{
                        background: #449D44;
                        transition: 1s;
                    }
                }
            }
        }
        .pro-skills{
            width: 100%;
            background: #FFFFFF;
            margin-top: 50px;
            h1{
                font-size: 45px;
                color: #008baf;
                font-weight: bold;
                display: inline-block;
                border-bottom: 3px solid #008baf;
                margin-left: 100px;
            }
            .sikll-bottom{
                border-top: 1px solid gainsboro;
                margin: 0 100px;
                display: flex;
                ul{
                    margin: 80px 0;
                    padding-left: 80px;
                    flex: 1;
                    li{
                        font-size: 14px;
                        color: #000000;
                        line-height: 35px;
                    }
                }
                .skills-right{
                    margin-top: 80px;
                    flex: 1;
                    margin-left: 300px;
                    img{
                        display: block;
                        width: 50%;
                        margin-bottom: 30px;
                    }
                    span,a{
                        font-size: 18px;
                    }
                    a{
                       color: #008baf; 
                    }
                }
            }
        }
        .project{
            background: url(../img/7065230ad9fe0e846f902db49278f057.jpg)no-repeat left top;
            background-size: 100% 100%;
            position: relative;
            .project-mask{
                width: 100%;
//              height: 1000px;
                background: #000000;
                opacity: 0.5;
//              position: absolute;
//              left: 0;
//              top: 0;
            }
            .project-bottom{
                position: absolute;
                left: 0;
                top: 0;
//              padding-top: 50px;
                .project-title{
                    border-bottom: 1px solid gainsboro;
                    margin: 30px 100px;
                    h1{
                        font-size: 40px;
                        color: #008baf;
                        font-weight: bold;
                        display: inline-block;
                        border-bottom: 3px solid #008baf;
//                      margin-left: 100px;
                    }
                }
//              ul{
//                  border-top: 1px solid gainsboro;
//                  margin: 0 100px;
//                  li{
////                     float: left; 
////                     width: 50%;
//                     display: inline-block;
//                     img{
//                         width: 80%;
//                     }
//                  }
//              }
                .project-list{
                    margin: 0 100px;
                    width: 100%;
                    .project-list:nth-child(0){
                        width: 33%;
                    }
                    .project-list:nth-child(1){
                        width: 33%;
                    }
                    .project-list:nth-child(2){
                        width: 34%;
                    }
                    .list-item{
                        float: left;
                    }
                }
            }
        }
    }
}
